body {
     background-color:#FFFBF8;
     
     text-align:center;
     font-family:"Open Sans", Verdana;	
     font-size: 20px;
     color:#FFC687;
} 

#screenFiller {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color:#FFC687;
}
.logo{
  position:relative;
  top:200px;
  font-size:150px;
  color: #FFFBF8;
}

#info{
  max-width:100%;
  margin=auto;
  position:relative;
  top:100%;
}

h1{
    font-family:"Open Sans", Verdana;
    font-size:72px;
}
h2{
    font-family:"Open Sans", Verdana;
    font-size:54px;
}
p{
    font-family:"Open Sans", Verdana;
    font-size:20px;
}