#screenFiller {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color:#FFC687;
}
.logo{
  position:absolute;
  top:50%;
  tex-align:center;
  font-size:36px
}
#info{
  position:absolute;
  top:100%;
}
h1{
    font-family:"Open Sans", Verdana;
    font-size:36px;
}
h2{
    font-family:"Open Sans", Verdana;
    font-size:24px;
}
p{
    font-family:"Open Sans", Verdana;
    font-size:12px;
}
