{% extends 'layout.html' %}

{% block title %} dashboard{% endblock %}  

{% block content %}
<body>
  <br><br><br><br>
  <h3>what's up {{user}}</h3>
  <br><br>
  <form method="POST">
    <div id="info">
      <div>
      <input type="submit" name="page" value="find a tut.r"
	     style="background-color:#Ffc687;width:500px;height:50px;                                                                                                              
		    color:white;font-size:20px;border-radius:15px"
	     class="btn-default"/>
      </div>
      <br><br>
      <div>
      <input type="submit" name="page" value="register as a tut.r"
	     style="background-color:#Ffc687;width:500px;height:50px;                                                                                                              
                    color:white;font-size:20px;border-radius:15px"
	     class="btn-default"/>
      </div>
      <br><br>
      <div>
      <input type="submit" name="page" value="edit account info"
		style="background-color:#Ffc687;width:500px;height:50px;                                                                                                              
			    color:white;font-size:20px;border-radius:15px"
		class="btn-default"/>
      </div>
      <br><br>
      <div>
	<input type="submit" name="page" value="log off"
		     style="background-color:#Ffc687;width:200px;height:50px;                                                                                                              
			    color:white;font-size:20px;border-radius:15px"
	       class="btn-default"/>
      </div>
    </div>
  </form>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
  {% endblock %}








<!-- BUTTON TYPE POSSIBILITY
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
	<td>
	  <table border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>
		<a href="/settings.html" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; background-color: #EB7035; border-top: 12px solid #EB7035; border-bottom: 12px solid #EB7035; border-right: 18px solid #EB7035; border-left: 18px solid #EB7035; display: inline-block;">Settings &rarr;</a>
              </td>
            </tr>
	  </table>
	</td>
      </tr>
    </table>
-->
