{% extends 'layout.html' %}

{% block title %}tut.r{% endblock %}

{% block content %}
<body>
  
  <div id="screenFiller">
    <div class="logo">
      tut.r
    </div>
  </div>

  <div id="info">
    <h1>welcome to tut.r</h1><br>
    <h2>what is tut.r?<br>
      you.r ultimate study buddy!</h2>
    <p>
      searching for a tutor to help you cram for finals? need an impromtu study sesh? want a productivity partner?<br>
      do it all with tut.r.<br>
      find people in your area who want to study with you.
    </p>
    
    <p style="display:inline;">
      
      <div>
	<button style="background-color:#Ffc687;width:500px;height:50px;color:white;border-radius:15px" id="register" type="button" class="btn-default">
	  <span style="font-size:20px;">register now </span>
	</button>
      </div>
      
    <p>
      <button style="background-color:#FFc687;width:500px;height:50px;color:white;border-radius:15px" id="signin" type="button" class="btn-default">
	<span style="font-size:20px;"> log in </span>
      </button>
    </p>
    
    </p>
    
  </div>

  <script src="../static/main.js">$("div.navbar-fixed-top").autoHidingNavbar();</script>
  
  {% endblock %}
