{% extends 'layout.html' %}

{% block title %}tut.r{% endblock %}

{% block content %}
<body>
  
  <div id="screenFiller">
    <div class="logo">
      tut.r
    </div>
  </div>


  <div id="info">
    <h1>welcome to tut.r</h1><br>
    <h2>what is tut.r?<br>
      you.r ultimate study buddy!</h2>
    <p>
      searching for a tutor to help you cram for finals? need an impromtu study sesh? want a productivity partner?<br>
      do it all with tut.r.<br>
      find people in your area who want to study with you.
    </p>
    <form method="POST">
    <p style="display:inline;">
      <div>
	<input type="submit" name="submit" value="register" 
	       style="background-color:#Ffc687;width:500px;height:50px;
		      color:white;font-size:20px;border-radius:15px" 
	       class="btn-default"/>
      </div>
      
    <div>
      <input type="submit" name="submit" value="login"
	     style="background-color:#Ffc687;width:500px;height:50px;                                                                                                              
                    color:white;font-size:20px;border-radius:15px"
	     class="btn-default"/>
    </div>
    </p>
    
  </div>
  </form>
  <script src="../static/main.js">$("div.navbar-fixed-top").autoHidingNavbar();</script>
  
  {% endblock %}
