{% extends 'layout.html' %}

{% block title %}register{% endblock %}

{% block content %}
{% if message %}
<h3>
{{ message }}
</h3>
{% endif %}
<body>
  <form role="form" method="POST">
  <div class="container text-center"
    <div class="form-group">
      <label for="inputEmail">Email:</label>
	<input tpye="text" class="form-control"
	       id="inputEmail" placeholder="email"
	       width="50"
	       name="email"/>
      </div>
  </div
  <div class="container text-center"
      <div class="form-group">
        <label for="inputPass">Password:</label>
        <input type="password"
               class="form-control"
	       width="50"
               id="inputPass"
               placeholder="password"
               name="password" /> <br>
      </div>
  </div>
  <div class="container text-center"
      <div class="form-group">
        Register: <br>
        <input type="submit" value="submit"/> <br>
      </div>
  </div>
  </form>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
{% endblock %}
