{% extends 'layout.html' %}

{% block title %}match as a tutor{% endblock %}

{% block content %}
<body>
  <h3>want to register as a tut.r for a session, {{user}}?</h3>
  <div>
    <form method="POST">
      <div>
	<input type="submit" name="page" value="tut.r me up, fam"
	       style="background-color:#Ffc687;width:500px;height:50px;                                                                                                              
			      color:white;font-size:20px;border-radius:15px"
	       class="btn-default"/>
      </div>
      
      <br><br>
      
      <div>
	<input type="submit" name="page" value="maybe nect time"
	       style="background-color:#Ffc687;width:500px;height:50px;                                                                                                              
		      color:white;font-size:20px;border-radius:15px"
	       class="btn-default"/>      
      </div>
      
      <br><br>
    
    </form>
  </div>
</body>


{% endblock %}
