{% extends 'layout.html' %}

{% block title %}register{% endblock %}

{% block content %}
<body>
  {% if message %}
  <h3>
    {{ message }}
  </h3>
  {% endif %}
  <div id="info">
    
    <h1> Register now.</h1>
    
    <form method="POST">
      <div class="container text-center">
	      <div class="col-sm-10">
	        <label for="inputFullName">Full Name:</label>
	        <input type="text" class="form-control" 
		       width="50"
	               id="inputFullName" placeholder="fullname"
	               name="fullname" />
	
	      </div>
	</div>
	<div class="container text-center">
	      <div class="col-sm-10">
		<label for="inputEmail">Email:</label>
		<input tpye="text" class="form-control" 
		       width="50"
		       id="inputEmail" placeholder="email"
		       name="email"/>
	      </div>
	</div>
	<div class="container text-center">
	      <div class="col-sm-10">
	        <label for="inputPass">Password:</label>
	        <input type="password" 
		       width="0"
	               class="form-control"
	               id="inputPass"
	               placeholder="password"
	               name="password" /> <br>
	      </div>
	</div>
	<div class="container text-center">
	      <div class="col-sm-10">
	        <label for="confirmPass">Confirm Password:</label>
	        <input type="password"
		       width="50"
	               class="form-control"
	               id="confirmPass"
	               placeholder="enter password"
	               name="confirmPassword" /> <br>
	      </div>
	</div>
	<div class="container text-center">
	      <div class="col-sm-10">
		<label for="Bio Line">Bio Line:</label>
		<input type="text" class="form-control"
		       width="50"
		       id="inputBio" placeholder="Bio Line"
		       name="bioline"/>
	      </div>
	</div>
	<div class="container text-center">
	      <div class="col-sm-10">
	        Register: <br>
	        <input type="submit" value="submit"/> <br>
	      </div>
	</div>
    </form>
    
  </div>
  
  {% endblock %}
