{% extends 'layout.html' %}

  <title> settings </title>
</head>

<body>
  
  <div id="info">
    
    <h1> choose your preferences.</h1>

    <form role="form" action "/sets" method="POST">

	  <div class="form-group">
	    <label for="bio"> edit your bio: </label>
	    <input type="text" 
		   class="form-control" 
		   id="bio" 
		   value=bioline 
		   name="ebio" /><br>
	  </div>


	  <div class="form-group">
	    <label for="name"> edit your name: </label>
	    <input type="text" 
		   class="form-control" 
		   id="name" value=fullname 
		   name="ename" /> <br>  
	  </div>

	  <div class="form-group">
	    <label for="pw"> edit your password: </label>
	    <input type="password" 
		   class="form-control" 
		   id="pw" 
		   value=password 
		   name="epw" /> <br>
	  </div> 

	  <div class="form-group">
	    <label for="place"> edit your location: </label>
	    <input type="text" 
		   class="form-control" 
		   id="place" 
		   value=location 
		   name="eplace" /> <br>
	  </div>

	  <div class="form-group">
	    save change: <br>
	    <input type="submit" value="submit"/><br>
	  </div>

    </form>
  </div>

</body>
</html>
