{% extends 'layout.html' %}

{% block title %}settings{% endblock %}


{% block content %}
<body>
  
  <div id="info">
    <h1>{{message}}</h1>
<h3></h3>
    <form method="POST">
   <div class="container text-center"
      <div class="form-group">
	<label for="name"> edit your name: </label>
	<input type="text" 
	       class="form-control" 
	       width="50"
	       id="name" 
	       value="{{name}}" 
	       name="editname" /> <br>  
      </div>
   </div>
   <div class="container text-center"
      <div class="form-group">
	<label for="bio"> edit your bio: </label>
	<input type="text" 
	       class="form-control" 
	       id="bio" 
	       width="50"
	       value="{{bioline}}" 
	       name="editbio" /><br>
      </div>
   </div>
   <div class="container text-center"   
      <div class="form-group">
	<label for="place"> edit your location: </label>
	<input type="text" 
	       class="form-control" 
	       id="place" 
	       width=50px
	       value="{{location}}" 
	       name="editlocation" /> <br>
      </div>
   </div>
   <div class="container text-center"
      <div class="form-group">
	save changes: <br>
	<input type="submit" name="page" value="submit"/><br>
      </div>
   </div
      <br><br><br><br><br>
   <div class="container text-center"
      <div class="form-group">
	return to dashboard <br>
	<input type="submit" name="page" value="dashboard"/><br>
      </div>
   </div
      
    </form>
  </div>

  {% endblock %}
